<%@ page language="java" contentType="text/html; charset=utf-8" pageEncoding="utf-8"%>


<aside>
    <div id="sidebar"  class="nav-collapse ">
        <!-- sidebar menu start-->
        <ul class="sidebar-menu">
            <li class="active">
                <a class="" href="${pageContext.request.contextPath}/administrator/panel">
                    <i class="icon_house_alt"></i>
                    <span>Главная</span>
                </a>
            </li>
            <li class="sub-menu">
                <a href="javascript:;" class="">
                    <i class="icon_document_alt"></i>
                    <span>Квартира</span>
                    <span class="menu-arrow arrow_carrot-right"></span>
                </a>
                <ul class="sub">
                    <li><a class="" href="${pageContext.request.contextPath}/administrator/rent">Квартиры на аренду</a></li>
                    <li><a class="" href="${pageContext.request.contextPath}/administrator/selling">Квартиры на продажу</a></li>
                    <li><a class="" href="${pageContext.request.contextPath}/administrator/add-flat">Добавить квартиру</a></li>
                </ul>
            </li>
            <li class="sub-menu">
                <a href="javascript:;" class="">
                    <i class="icon_document_alt"></i>
                    <span>Контент</span>
                    <span class="menu-arrow arrow_carrot-right"></span>
                </a>
                <ul class="sub">
                    <li><a class="" href="form_component.html">Главная</a></li>
                    <li><a class="" href="form_component.html">Контакты</a></li>
                </ul>
            </li>
        </ul>
        <!-- sidebar menu end-->
    </div>
</aside>
<!--sidebar end-->