<%@ page language="java" contentType="text/html; charset=utf-8" pageEncoding="utf-8"%>
<%@ taglib prefix="spring" uri="http://www.springframework.org/tags" %>

<div class="brand">Name of agency</div>
<div class="address-bar">Агенство недвижимости</div>

<nav class="navbar navbar-default" role="navigation">
    <div class="container">
        <span style="float: right">
    <a href="?language=ua">ua</a>
    |
    <a href="?language=ru">ru</a>
</span>
       <%-- <spring:message code="qweqwe"/>--%>
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <!-- navbar-brand is hidden on larger screens, but visible when the menu is collapsed -->
            <a class="navbar-brand" href="index.jsp">Real estate agency</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li>
                    <a href="${pageContext.request.contextPath}/">Главная</a>
                </li>
                <li>
                    <a href="blog.jsp">Блог</a>
                </li>
                <li class='dropdown '>
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        Услуги
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <hr/>
                        <li> <a href="${pageContext.request.contextPath}/flat/selling">Купить квартиру</a>  <hr/></li>
                        <li> <a href="${pageContext.request.contextPath}/flat/rent">Арендовать квартиру</a> <hr/> </li>
                        <!--<li> <a href="form-wizard.html">Wizard &amp; File Upload</a>  </li>-->
                    </ul>
                </li>
                <li>
                    <a href="${pageContext.request.contextPath}/mail/contact">Контакты</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>